body {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
 }

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(189, 92, 70);
    margin: 8px 0px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

#gridSizeSelector {
    padding: 8px 12px;
    margin: 16px 0px;
}

#createGrid {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    background-color: rgb(33, 52, 110);
    color: white;
    border-radius: 4px;
    border: 1px solid rgb(22, 36, 77);
    padding: 6px 14px;
}

#clearGrid {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    background-color: rgb(227, 84, 18);
    color: rgb(251, 243, 239);
    border-radius: 4px;
    border: 1px solid rgb(158, 63, 46);
    padding: 6px 14px;
}

.mainContainer {
    height: 640px;
    width: 640px;
    border: 10px solid rgb(189, 92, 70);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
}

.gridBox {
    border: 1px solid grey;
    flex-grow: 1;
}

.gridRow {
    display: flex;
    border-bottom: 1px solid rgb(180, 180, 180);
    flex-grow: 1;
}

.gridCell {
    flex-grow: 1;
    border-right: 1px solid rgb(180, 180, 180);
}


.gridCell:hover{
    background-color: black; 
}

.menu {
    display: flex;
    justify-content: center;
    margin-right: 32px;
    flex-direction: column;

}

input {
    align-self: center;
}